.computermain {
    max-height: 1400px;
}




@media (min-width: 600px) {
    .leftonecolumn {

    /* border: 1px solid black; */
    background-color: white;
    border: none !important;
    border-radius: 20px !important;
    height: 335px;

    }

    .rightonecolumn {
        /* border: 1px solid black; */
        background-color: white;
        border-radius: 20px !important;
        height: 700px;
        border: none !important;
    }

    .companycard {
        background-color: #F7F7FF;
    }
   
    .computerrow {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        margin-left: 0px;
       
        margin-top: 20px;
    }

    .nameone {
        align-items: center !important;
    }
   
}



@media (max-width: 600px) {
    .tablesection {
        margin-top: 20px;
    }
    .mobilerightone {
        height: 3000px !important;
    }
    .mobilesubmitbutton {
        margin-top: 20px;
    }
}

.mobilerightone {
    height:  4000px !important;
}