@media (max-width: 600px) {
    .mobileheader {
        height: 60px;
       
    }

    .menubuttonformobilesidebar {
        border: 1px solid black;
        margin-right: 295px;
        margin-top: 10px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
    
    }
}